<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/styleguide.css">
        <script type="module">
		/* Schrijf hier eventueel je client-side JavaScript */
		function openNav() {
			document.getElementById("sideNav").style.width = "250px";
		}
		function closeNav() {
			document.getElementById("sideNav").style.width = "0";
		}

		document.getElementById("openBtn").addEventListener("click", openNav);
		document.querySelector("svg").addEventListener("click", closeNav);

  const commentSection = document.querySelector(".comment-form-section form")
  const formButton = document.querySelector("form button")
  const comments = document.querySelector(".comments-section")

  commentSection.addEventListener("submit", async function(event) {
    event.preventDefault()

    formButton.classList.add("loading")
    formButton.textContent ="Versturen..."

    let formData = new FormData(commentSection);

    const response = await fetch(commentSection.action, {
    method: commentSection.method,
    body: new URLSearchParams(formData)
    })
    
    const responseData = await response.text()

    const parser = new DOMParser()
    const responseDOM = parser.parseFromString(responseData, 'text/html')

    const newState = responseDOM.querySelector('.comments-section')

    comments.innerHTML =newState.innerHTML
    formButton.classList.remove("loading")
    formButton.classList.add("alert-success")
    formButton.textContent = " ✔ Verstuurd"

    commentSection.reset()

    setTimeout(() => {
    formButton.classList.remove('alert-success')
    formButton.textContent = 'Verstuur'
}, 2500)
})
    {% comment %} const form = event.target.closest(".comment-form-section form")
    if (!form) return

    event.preventDefault()

    const formButton = form.querySelector("button")
    formButton.classList.add("loading")
    formButton.textContent = "Versturen..."

    const formData = new FormData(form)

    const response = await fetch(form.action, {
      method: form.method,
      body: new URLSearchParams(formData)
    })

    const responseData = await response.text()
    const parser = new DOMParser()
    const responseDOM = parser.parseFromString(responseData, 'text/html')
    const newState = responseDOM.querySelector('.comment-form-section')

    commentSection.innerHTML = newState.innerHTML
  }) {% endcomment %}
</script>
	</script>
    </head>

    <body>
        <header>
        <a href="/"><h1>{{ title }} {{ districtName | capitalize}}</h1></a>
        