<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/styleguide.css">
        <script type="module">
		/* Schrijf hier eventueel je client-side JavaScript */
		document.addEventListener('DOMContentLoaded', () => {
    const nav = document.getElementById('sideNav');
    const openBtn = document.getElementById('openBtn');
    const closeBtn = document.getElementById('closeBtn');

    openBtn.addEventListener('click', () => {
        nav.style.width = '250px';
    });

    closeBtn.addEventListener('click', () => {
        nav.style.width = '0';
    });
});

  const commentSection = document.querySelector(".comment-form-section form")
  const formButton = document.querySelector("form button")
  const comments = document.querySelector(".comments-section")

  commentSection.addEventListener("submit", async function(event) {
    event.preventDefault()

    formButton.classList.add("loading")
    formButton.textContent ="Versturen..."

    let formData = new FormData(commentSection);

    const response = await fetch(commentSection.action, {
    method: commentSection.method,
    body: new URLSearchParams(formData)
    })
    
    const responseData = await response.text()

    const parser = new DOMParser()
    const responseDOM = parser.parseFromString(responseData, 'text/html')

    const newState = responseDOM.querySelector('.comments-section')

    comments.innerHTML =newState.innerHTML
    formButton.classList.remove("loading")
    formButton.classList.add("alert-success")
    formButton.textContent = " ✔ Verstuurd"

    commentSection.reset()

    setTimeout(() => {
    formButton.classList.remove('alert-success')
    formButton.textContent = 'Verstuur'
}, 2500)
})
</script>
	</script>
    </head>

    <body>
        <header>
        <a href="/"><img  class ="header-logo" src="/assets/1.LOGOS/04 Buurtcampus Algemeen/02 Lang/Lang_Blurple.png"></a>
        
        